.m__calculator *,
.m__calculator ::after,
.m__calculator ::before {
    box-sizing: border-box
}

.m__calculator * {
    font-family: inherit;
    font-family: "Inter", sans-serif;
}

.m__calculator {
    width: 100%;
    margin: 0 auto;
    font-family: inherit;
    font-size: 17px;
    color: #111111;
    background: #fbfbfb;
}

.m__calculator .m__row {
    display: flex;
    /* flex */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    width: 100%;
}

.ts-dropdown{
    margin-top: 0
}



.m__calculator .m__cell {
    flex: 1;
    /* margin: 0 0 15px 0px; */
    padding: 24px 0 0;
    flex: 1 1 calc(50% - 20px);
    /*display: flex;*/
    align-items: center;
    /* background: #ccc; 
    border-bottom: 1px solid #e8e8e8;*/
    min-height: 60px;
}

.m_block_3 {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

.m__col_3 {
    flex-basis: 33%;
}




.m__calculator .m__group {
    position: relative;
    width: 100%;
}


.m__group input, .ts-control {
    width: 100%;
    position: relative;
    background: rgb(255 255 255);
    border-radius: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(154 154 154);
    border-image: initial;
    height: 48px !important;
    padding: 5px 10px 5px 12px;
    font-size: 14px;
    color: rgb(39 39 39);
    font-weight: 600;
    transition: box-shadow .4s;
}


.m__group input:focus,
.m__group:hover input {
    box-shadow: 0 0 0 4px rgb(240 161 161 / 30%), 0 0 0 16px rgb(202 235 48 / 0%);
    outline: 0
}

.m__calculator .m__name {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 17px;
    position: relative;
    flex: 1;
    color: #212121;
}

.m__calculator .m__value {
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 17px;
    position: relative;
    color: rgb(202 235 48);
}

.m__calculator .m__label {
    display: flex;
}





.m__section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.m__wrap {
    max-width: 940px;
    margin: auto;
    padding: 10px
}

.max_500 {
    max-width: 500px;
}


.btn-helper {
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    position: absolute;
    right: 2px;
    top: 25px;
    height: 23px;
    width: 30px;
    font-family: monospace;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-helper:hover {
    background-color: rgb(81 81 81 / 23%);
}


.btn-plus {
    right: 4px;
    top: 5px;
    height: 18px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}


.btn-minus {
    right: 4px;
    top: auto;
    bottom: 5px;
    height: 18px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-size: 10px;
    background-position: center;
    background-repeat: no-repeat;
}


.button__e {
    padding: 6px 26px;
    border: 0;
    color: #ffffff;
    background-color: #e50124;
    transition: box-shadow .4s, background-color .3s;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    min-height: 46px;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    outline: none;
    margin: 10px 0;
    display: inline-block;
}




.button__e:hover {
    box-shadow: 0 0 0 3px rgb(229 1 36 / 26%), 0 0 0 16px rgb(202 235 48 / 0%);
}





.ts-control {
    /* border: 0; */
    /* padding: 0; */
    display: flex;
    align-items: center;
    justify-content: start;
}
.ts-control > input {
    margin: 0 4px !important;
    width: auto;
    min-height: 30px !important;
    height: auto !important;
    flex: 1;
    min-width: auto;
}
.text_center{
    text-align:center;
    /* display: block; */
}

.remove_appliance {
    cursor: pointer;
    color: #9d9d9d;
    margin-top: 45px;
}
.remove_appliance:hover {
    color: #e50124;
}

@media all and (max-width:600px) {
    .m__calculator .m__row {
        display: flex;
        flex-direction: column;
        align-items: initial;
        width: 100%;
        column-gap: 0;
    }
    .m__rows_section .m__row{
        background: #f1f1f1;
        padding: 15px 10px;
        border-radius: 6px;
        position: relative;
    }

    .m__calculator .m__cell {
        max-width: 100%
    }


    .m__calculator .noUi-horizontal {
        margin-bottom: 15px
    }
    .remove_appliance {
        margin-top: 0;
        position: absolute;
        top: -8px;
        right: -8px;
        color: red;
    }
}


@media all and (max-width:600px) {
    .m__calculator {
        font-size: 16px;
    }

    .m__section {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: 10px;
    }

    .m__calculator .m__cell {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .m__calculator .m__name {
        min-width: auto;
    }

    .m__calculator .m__group {
        position: relative;
        flex: 1;
        width: auto;
    }

    .m_block_3 {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .m__col_3 {
        flex-basis: 100%;
        width: 100%
    }

    .button__e {
        width: 100%;
    }

    .m__calculator .noUi-tooltip {
        display: none !important;
    }
    .block_gradient {
        margin-left: -25px;
        margin-right: -25px;
        border-radius: 0;
    }
    .m__calculator .m__cell {
        padding: 15px 0 0;
    }
    .m__cell.m_block_3{
        padding: 0;
    }
    .m_row_sticky{
        padding-top: 170px;
    }
    .m_row_sticky .block_gradient{
        position: fixed;
        top: 0;
        z-index: 9;
        width: 100%;
    }
}







.block_table1, .block_table2{
    width: 100%
}
.table_recommend {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* background: #ebebeb; */
    padding: 6px;
    border-radius: 6px;
}


.col_labels {
    width: 26%;
    font-size: 13px;
    padding-top: 90px;
}
.Appliance_labels>div, .specs_labels>div {
    /* padding: 8px 0px; */
    border-bottom: 1px solid #e0e0e0;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.specs_labels>div:last-child {
    border: 0;
}
.block_table2 .Appliance_labels>div:last-child {
    /*border: 0;*/
}
.recommended_columns {
    flex: 1;
    font-size: 14px;
    display: flex;
    gap: 12px;
}
.recommended_columns>div {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 4px 4px #a4a4a4;
    /* overflow: hidden; */
    position: relative;
}
.modal_name {
    font-weight: 600;
    text-align: center;
    background: #000000;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
}
.modal_desc {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f4f4f4;
    color: #727272;
    font-size: 11px;
    line-height: 1.3;
    padding: 5px;
    font-weight: 600;
}
.Appliance_values>div, .specs_values>div {
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    margin: 0;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.specs_values,.block_table1, .Appliance_values{
    border-radius: 0 0 6px 6px;
    overflow: hidden;
}

.mtitle {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 30px 0;
    background: #f2f2f2;
    padding: 15px 10px;
    border-radius: 6px;
}

.power_requirement, #Total_Energy {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 15px 8px 0;
}
#Total_Energy{
    text-align: right;
}
.power_requirement span, #Total_Energy span {
    color: red
}

.Pack1 .Pack1, 
.Pack2 .Pack2, 
.Pack3 .Pack3, 
.Pack4 .Pack4, 
.Pack5 .Pack5 {
        box-shadow: 0px 5px 6px #8d8d8d !important;
        outline: 1px solid #e50124;
}
.Pack1 .Pack1 .modal_name, 
.Pack2 .Pack2 .modal_name, 
.Pack3 .Pack3 .modal_name, 
.Pack4 .Pack4 .modal_name, 
.Pack5 .Pack5 .modal_name {
  background: #e50124;
}
.Pack1 .Pack1 .modal_name:before,
.Pack2 .Pack2 .modal_name:before,
.Pack3 .Pack3 .modal_name:before,
.Pack4 .Pack4 .modal_name:before,
.Pack5 .Pack5 .modal_name:before {
    content: "Recommended";
    position: absolute;
    top: -16px;
    color: #ffffff;
    background: #000000;
    font-size: 9px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    border-radius: 4px 4px 0 0;
}

.Pack1 .Pack1 .m_storage,
.Pack2 .Pack2 .m_storage,
.Pack3 .Pack3 .m_storage,
.Pack4 .Pack4 .m_storage,
.Pack5 .Pack5 .m_storage
 {
    color: #e50124;
    font-weight: 800;
}

.Pack1 .Pack1 .m_solar_p,
.Pack2 .Pack2 .m_solar_p,
.Pack3 .Pack3 .m_solar_p,
.Pack4 .Pack4 .m_solar_p,
.Pack5 .Pack5 .m_solar_p
 {
    color: #e50124;
    font-weight: 800;
}



.Pack1 .Pack4, .Pack1 .Pack5{ display: none; }
.Pack2 .Pack4, .Pack2 .Pack5{ display: none; }
.Pack3 .Pack1, .Pack3 .Pack5{ display: none; }
.Pack4 .Pack1, .Pack4 .Pack2{ display: none; }
.Pack5 .Pack1, .Pack5 .Pack2{ display: none; }

button#add_appliance {
    border: 0;
    background: transparent;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    background: #1c6195;
    color: #ffffff;
    min-width: 200px;
    cursor: pointer;
    height: 26px;
    border-radius: 4px;
    border: 1px solid rgb(28 97 149 / 14%);
    gap: 4px;
}
#m__error{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #e50124;
}
.disclaimer {
    font-size: 14px;
    font-style: italic;
    color: #909090;
    text-align: center;
    margin-top: 10px;
}

.block_table2 .Appliance_values>div {
    display: flex;
    flex-direction: column;
    min-height: 70px;
}
.block_table2 .Appliance_labels>div{
    min-height: 70px;
    padding-left: 6px;
}

.block_table2 .Appliance_labels>div:nth-child(odd), .block_table2 .Appliance_values>div:nth-child(odd) {
    background: #efefef
}

span.m_nval {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 9px;
    border-top: 1px solid #e0e0e0;

}
span.m__val {
    font-weight: 600;
    margin-bottom: 6px;
}

@media all and (max-width:600px) {
    .table_resp{
        width: 100%;
        overflow: scroll;
        padding: 15px 0;
    }
    .table_recommend{
        min-width: 880px;
    }
    .col_labels{
            max-width: 200px;
    }
    .mtitle {
        font-size: 18px;
    }

}

/* changes i have made */
.contact {
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: 30px 0;
    background: #f2f2f2;
    padding: 15px 10px;
    border-radius: 6px;
}

#removeAllAppliances {
    border: 0;
    background: transparent;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: 600;
    background-color: #e50124;
    color: #ffffff;
    min-width: 200px;
    cursor: pointer;
    height: 26px;
    border-radius: 4px;
    border: 1px solid rgb(28 97 149 / 14%);
    gap: 4px;
    margin-top: 23px;
}

.delete-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.delete-icon svg {
    width: 16px;
    height: 16px;
    stroke: red; /* Change color if needed */
}



/* Style the "i" icon */
.tooltip-icon {
    display: inline-block;
    background-color: #1988ff;
    color: #fff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin-left: 5px;
    cursor: pointer;
    position: relative;
}

/* Tooltip container */
.tooltip-content {
    display: none;
    position: absolute;
    left: 50%;
    top: 20px;
    background: #1c6195;
    font-weight: 600;
    padding: 8px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 10;
    width: 100%;
    height: fit-content;
    color: #ffffff;
    border-radius: 12px;

}

/* Show tooltip on hover or focus */
.tooltip-icon:hover + .tooltip-content,
.tooltip-icon:focus + .tooltip-content {
    display: block;
}




/* Modern Contact Section Styles */
.section {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 80px;
    padding: 0 20px;
}

.col {
    flex: 1;
}

.contact-info h2 {
    font-size: 3rem;
    background: linear-gradient(45deg, #2d2e32, #e50124);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    line-height: 1.3;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInLeft 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}

/* Form Container */
.contact-form {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transform: translateY(30px);
    opacity: 0;
    animation: fadeInUp 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards 0.3s;
}

/* Input Groups */
.form-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 25px;
    width: 100%;
    
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

/* Apply consistent border color to all form inputs and textareas */
.input-field,
.country-select,
textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #e50124; /* Updated border color */
    border-radius: 12px;
    font-size: 16px;
    background: transparent;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
}

/* Focus effect to maintain consistent border color */
/* Remove blue focus outline */
.input-field:focus,
textarea:focus,
.country-select:focus {
    outline: none; /* Removes the default browser outline */
    border-color: #e50124; /* Keeps the red border on focus */
    box-shadow: none; /* Removes any additional focus shadow */
}


/* Adjusting label behavior */
.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #666;
    font-size: 16px;
    transition: all 0.3s;
    z-index: 0;
    width: 100%;
}

.input-group textarea ~ label {
    top: 20px;
    transform: translateY(0);
}

.input-field:focus ~ label,
.input-field:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
    top: -10px;
    left: 10px;
    color: #e50124; /* Updated label color */
    font-size: 14px;
    z-index: 1;
}

/* Text Area Styling */
.text-area textarea {
    height: 150px;
    resize: none;
}

/* Button Styling */
.btn {
    background: linear-gradient(45deg, #2d2e32, #e50124);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 123, 255, 0.3);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.2),
        transparent
    );
    transition: 0.5s;
}

.btn:hover::before {
    left: 100%;
}

.btn-text {
    z-index: 1;
    font-weight: 500;
}

.btn-icon {
    z-index: 1;
    display: flex;
    align-items: center;
}

/* Input Highlight Effect */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    transition: all 0.3s;
}

.input-field:focus ~ .input-highlight,
.country-select:focus ~ .input-highlight,
textarea:focus ~ .input-highlight {
    width: 100%;
}

/* Country Select Specific Styling */
.country-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px;
}

/* Animations */
@keyframes slideInLeft {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 40px;
    }
    
    .form-inputs {
        grid-template-columns: 1fr;
    }
    
    .contact-info h2 {
        font-size: 2.2rem;
    }
    
    .contact-form {
        padding: 30px;
    }
}

/* Focus Accessibility */
.input-field:focus-visible,
.country-select:focus-visible,
textarea:focus-visible,
.btn:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}


